# Movies recomender

data from https://grouplens.org/datasets/movielens/latest/

In [53]:
import pandas as pd
import numpy as np
from datetime import datetime

In [54]:
df_movies = pd.read_csv('../lab/data/movies.csv')
df_ratings = pd.read_csv('../lab/data/ratings.csv')

## 1.1 EDA

### a) general EDA, data preparation

In [55]:
df_movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [56]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   title    58098 non-null  object
 2   genres   58098 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

In [57]:
df_ratings.head(3)

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471

In [58]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB

In [59]:
#TODO: remove
df_ratings = pd.read_csv('../lab/data/ratings.csv')

In [60]:
# transfroming timestamp to datetime and keeping just year
# dropping timestamp column

df_ratings['year'] = pd.to_datetime(df_ratings['timestamp'], unit='s').dt.year
df_ratings = df_ratings.drop('timestamp', axis=1)

In [61]:
df_ratings.head(3)

   userId  movieId  rating  year
0       1      307     3.5  2009
1       1      481     3.5  2009
2       1     1091     1.5  2009

In [62]:
# 'year' column contains years from 1995 - 2018 as expected
df_ratings['year'].unique()

array([2009, 2007, 1999, 2005, 2006, 2008, 1996, 1997, 2000, 2014, 2015,
       2018, 2016, 2017, 2013, 1998, 2012, 2003, 2001, 2004, 2002, 2010,
       2011, 1995], dtype=int64)

### b) Which are the 10 most rated movies?

Answer:<br>
The most rated movies are:
1. Shawshank Redemption, The (1994)
2. Forrest Gump (1994)
3. Pulp Fiction (1994)
4. Silence of the Lambs, The (1991)
5. Matrix, The (1999)
6. Star Wars: Episode IV - A New Hope (1977)
7. Jurassic Park (1993)
8. Schindler's List (1993)
9. Braveheart (1995)
10. Toy Story (1995)

In [63]:
# sorting out 10 top indexes with most value counts
df_ratings['movieId'].value_counts().sort_values(ascending=False).head(10)

318     97999
356     97040
296     92406
593     87899
2571    84545
260     81815
480     76451
527     71516
110     68803
1       68469
Name: movieId, dtype: int64

In [65]:
# saving movieIds for the most rated movies
most_rated_movies = df_ratings['movieId'].value_counts().sort_values(ascending=False).head(10).index
most_rated_movies

Int64Index([318, 356, 296, 593, 2571, 260, 480, 527, 110, 1], dtype='int64')

In [88]:
# printing out the top 10 most rated movies 
# getting titles based on movieIds in most_rated_movies
# .values[0] to get a nice print-out of only title and not Name and dtype

print('The most rated movies are:')
for i, Id in enumerate(most_rated_movies, 1):
    print(f"{i}. {df_movies.loc[df_movies['movieId'] == Id, 'title'].values[0]}")

The most rated movies are:
1. Shawshank Redemption, The (1994)
2. Forrest Gump (1994)
3. Pulp Fiction (1994)
4. Silence of the Lambs, The (1991)
5. Matrix, The (1999)
6. Star Wars: Episode IV - A New Hope (1977)
7. Jurassic Park (1993)
8. Schindler's List (1993)
9. Braveheart (1995)
10. Toy Story (1995)

### c) What is the average rating for the 10 most rated movies?

### d)

### e)

### f)

### g) Own question: Which 10 movies have the highest ratings?

### h) Own question: Which users have rated the most movies?